@font-face {
  font-family: robototitulos ;
  src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: robotosubtitulos;
  src: url(fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: roboto;
  src: url(fonts/Roboto-Italic.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: size 3.8rem;
}

@media (max-width: 767px) { /* dispositivos móviles */
  body {
    font-size: 14px;
    padding: 2px;
  }
  h2{
    font-size: 35px !important;
  font-family: robototitulos ;
  }
  h3{
    font-size: 15px !important;
    font-family: robotosubtitulos;
  }
  .jumbotron {
    padding: 20px;
    font-size: 10px !important;
    background-size: contain;
    width: auto !important;
    height: 335px !important;
    display: grid !important;
    place-items: center;
  }
  .galeria{
    .item{
      width: auto;
    }
  }
  .maps{
    padding: 10px;
    height: 300px; 
  }
.btn-whatsapp{
  font-size: 14px; 
  margin-right: 18px;
  margin-bottom: 5px;
}
  .container {
    width: 100%;
    padding: 10px;
  }
}

@media (min-width: 540px) and (max-width: 960px) {/* tablets */
  .jumbotron {
    padding: 30px;
    width: auto !important;
    height: 530px !important;
  }
  .container {
    width: 80%;
    padding: 20px;
  }
}

@media (min-width: 1024px) {/*dispositivos de escritorio */
  .container {
    width: 70%;
    padding: 30px;
  }
}

.navbar{
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}
.navbar.toggler{
    border: none;
}
.navbar-toggler i{
    color:black !important;
}
.navbar-brand{
    justify-content: center!important;
}
.nav-link{
    color: black !important;
    margin-right: 15px !important;
    text-align: center;
}
.nav-link:hover{
    color: rgb(89, 89, 89) !important;
}
.inicio{
  font-size: 15px;
  font-weight: 300;
}
.separador{
  font-size: 12px;
}
h1{
  text-align: center;
  margin-top: 10px;
  line-height: 60px;
  font-size: 60px;
  font-family: robototitulos;
}
h2{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  font-family:robotosubtitulos ;
}
h3{
  margin-top: 20px;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.4;
  font-family: roboto;
}
.titulo{
  font-size: 60px;
  text-align: center;
  margin-bottom: 10px !important;
  margin: 0;
  font-family:robototitulos ;
}
.titulo:hover{
  color: #66666696;
}
.subtitulo{
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.4;
  font-family: robotosubtitulos;
}
.text-center{
  text-align: center;
}
.jumbotron-container {
  display: flex !important;
}
.jumbotron{
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 700px ;
  height: 700px;
  background-size: cover;
  color: #fff;
  margin-bottom: 0;
  border-radius: 0;
}
.jumbotron1{
  background-image: url(img/ego.jpeg);
  background-image: cover;
}
.jumbotron2{
    background-image: url(./img/modofiesta.jpeg) !important;
}
.padding{
padding: 20px;
}
.insta{
  display: block;
    background-color: #000;
    text-align: center;
}
.color{
    color: #f2f2f2;
  
}
.gallery {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.item {
  overflow: hidden;
}
.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.item:hover img {
  transform: scale(1.1);
}
.flex{
  display: flex;
  grid-template-columns: 1fr 1fr;
}
.jumbotron3{
  background-image: url(./img/modocomoda.jpeg) !important;
}
.jumbotron4{
  background-image: url(./img/mododia.jpeg) !important;
}
.off{
font-size: 70px;
}
.galeria{
  width: 100%;
  height: 600px;
  justify-content: center;
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-template-areas: "img1 img2 img3 img3"
                       "img1 img4 img5 img6"
                       "img7 img4 img8 img6";
}
.item{
  border: 2px solid #fff;
  background-size: cover;
  background-position: center;
}
.item1{
  grid-column: 1/2;
  grid-row: 1/3;
  background-image: url(./img/galeria\ 1.jpeg);
  border: 2px solid #fff;
  background-size: cover;
  background-position: center;
}
.item2{
  grid-column:2/3 ;
  grid-row: 1/2;
  width: auto;
  height: 200px;
  background-image: url(./img/galeria2\ \(1\).jpeg);
  grid-area: img2;
  border: 2px solid #fff;
  background-size: cover;
  background-position: center;
}
.item3{
  grid-column: 3/4;
  grid-row: 2/3;
  background-image: url(./img/galeria33.jpeg) !important;
  grid-area: img3;
  border: 2px solid #fff;
  background-size: cover;
  background-position: center;
}
.item4{
  grid-column: 2/3;
  grid-row: 2/4;
  background-image: url(./img/galeria3.jpeg);
  grid-area: img4;
  border: 2px solid #fff;
  background-size: cover;
  background-position: center;
}
.item5{
grid-column: 3/4;
grid-row:2/3 ;
background-image: url(./img/WhatsApp\ Image\ 2023-07-25\ at\ 8.19.09\ PM\ \(1\).jpeg);
grid-area: img5;
border: 2px solid #fff;
background-size: cover;
background-position: center;
}
.item6{
grid-column: 4/6;
grid-row: 2/3;
background-image: url(./img/galeria\ 2.jpeg);
grid-area: img6;
border: 2px solid #fff;
background-size: cover;
background-position: center;
}
.item7{
grid-column:1/2 ;
grid-row:3/4 ;
background-image: url(./img/WhatsApp\ Image\ 2023-07-27\ at\ 8.49.54\ PM.jpeg);
grid-area: img7;
border: 2px solid #fff;
background-size: cover;
background-position: center;
}
.item8{
grid-column: 3/5;
grid-row: 3/4;
background-image: url(./img/WhatsApp\ Image\ 2023-07-27\ at\ 8.49.56\ PM.jpeg);
grid-area: img8;
border: 2px solid #fff;
background-size: cover;
background-position: center;
}
.btn-whatsapp{
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 100;
  width: 50px;
  font-size: 50px;
}
.call{
    place-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    margin-top: 10px;
    margin-bottom: 20px;
}
 
.card{
    float: right !important;
    width:100px ;
    height:400px ;
    border: none;
    margin-top: 5px;
    margin-bottom: 250px;
}
.card-title{
display: grid;
place-items: center;
font-size: 30px;
margin-bottom: 3px;
font-family: robototitulo;
}
.card-text{
    margin-left: 147px;
    margin-right: 147px;
    font-size: 15px;
    margin-bottom: 0px;
    width: 100px;
    font-family: roboto;
}
.card-text2{
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;
    font-family: robotosubtitulos;
}
.btn{
    display: grid!important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #898787;
    margin-right: 130px;
    margin-left: 130px;
    margin-top: 10px;
}
.btn-primary{
    justify-content: center !important;
    color: black !important;
    background-color: #939292 !important;
    border-color: #898787 !important;
}

footer {
  background-color: #f0f0f0;
  color: #666;
  padding: 20px;
  text-align: center;
}
.footer-content {
  max-width: 800px;
  margin: 0 auto;
  color: #000;
}
.footer-links {
  list-style: none;
  padding: 2px;
  margin-top: 10px;
  color: #000;
}
.footer-links li {
  display: inline-block;
  margin-right: 10px;
}
.footer-links li:last-child {
  margin-right: 0;
}