*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: size 3.8rem;
}
.navbar{
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
}
.navbar.toggler{
    border: none;
}
.navbar-toggler i{
    color:black !important;
}
.navbar-brand{
    justify-content: center!important;
}
.nav-link{
    color: black !important;
    margin-right: 15px !important;
}
.nav-link:hover{
    color: rgb(89, 89, 89) !important;
}
section{
    padding: 70px 0;
    text-align: center;
}

.jumbotron{
    background-image: url(img/noche.jpeg);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-shadow: 0 0 5px #333;
    float: left;
    width: 720px;
    height: 770px;
}
h1{
    text-align: center;
    margin-top: 10px;
    line-height: 60px;
    font-size: 60px;
}
h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}
h3{
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.4;
}
.titulo{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    margin: 0;
}
.titulo:hover{
    color: #898787;
}
.subtitulo{
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.4;
}
.card{
    float: right !important;
    width:490px ;
    height:660px ;
    border: none;
}
.card-title{
text-align: center;
font-size: 30px;
margin-top: 0px;
margin-bottom: 5px;
}
.card-text{
    text-align: center;
    font-size: 15px;
    margin-bottom: 0px;
}
.card-text2{
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;
}
.btn{
    display: !important;
    text-align: center !important;
    justify-content: center !important;
    background-color: #898787;
}

.btn-primary{
    justify-content: center !important;
    color: black !important;
    border-color: #898787 !important;
}

ol{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.5;
}
footer{
   margin-top: 40px;
   padding: 40px 0;
   background-color: rgba(0,0,0,0.1);
   color:#000;
   display: block;
   text-align: center;
   text-decoration: none;

}



li{
    text-decoration: none;
}